@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');

:root{
    --text: #000711;
    --text-light: #f0f6ff;
    --background: #f5faff;
    --primary: #0261d6;
    --primary-light: #9bc8ffd3;
    --secondary: #ffc000;
    --secondary--light: #fffdf8;
    --accent: #ff4af3;
}

body,
html {
  min-height: 100vh;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

body{
    display: flex;
    flex-direction: column;
}

.body{
    background-color: darkolivegreen;
    display: flex;
    flex: 1;

}

header{
    background-color: var(--primary);
    color: var(--text-light);
    height: 82px;
    padding: 12px;

    display: flex;
    align-items: center;
}

/* NAV AREA ==== NAV AREA === NAV AREA === NAV AREA ===   */
nav{
    background-color: var(--secondary);
    flex-shrink: 0;
    /* display: flex;
    flex-direction: column; */
    /* gap: 12px; */

    width: clamp(150px,300px,400px);
    padding: 24px;

    font-size: 24px;
}

.side-bar>div:not(:last-child){
    /* ###SELECTS ALL DIV THAT ARE NOT LAST CHILD */
    border-bottom: 1px var(--text) solid;
}
.side-bar>div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0px;
}

.project-container{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    gap: 12px;
    font-size: 20px;
}

/* MAIN AREA ==== MAIN AREA ==== MAIN AREA ==== MAIN AREA ==== */
main{
    background-color:var(--secondary--light);
    flex: 1;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10fr 1fr;

    padding: 24px;
    grid-gap: 24px;
}

.content{
    grid-column: 1/2;
    grid-row: 1/2;

    /* border: 1px black solid; */

    display: flex;
    flex-direction: column;
    gap: 18px;

    
}
.entry{
    /* border: 1px black solid; */
    border-radius: 4px;
    background-color: var(--primary-light);

    display: flex;
    align-items: center;

    padding: 4px 24px;
}
.priority-container{
    margin-right: 24px;
}
.priority{
    /* background-color: red; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 8px 8px 8px -8px;
}
.text-container{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 1.2rem;
}
.done-status{
    height: 24px;
    width: 24px;
}
.buttons{
    display: flex;
    gap: 8px;
}






.recent{
    grid-column: 2/3;
    grid-row: 1/3;

    border: 1px black solid;
}
.bottom{
    grid-column: 1/2;
    grid-row: 2/3;

    /* border: 1px black solid; */

    display: flex;
    justify-content:right;
    align-items: center;
}
#add-entry{
    margin-right: 24px;
    height: 64px;
}